.input {
  width: 240px;
  margin: 10px;
  padding: 10px;
  height: 24px;
}

.button {
  width: 240px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.online {
  margin: 10px;
  padding: 5px 10px;
  width: 240px;
  color: #0b0;
  font-weight: bold;
  text-align: center;
  border: solid 1px lightgray;
}

.offline {
  margin: 10px;
  padding: 5px 10px;
  width: 240px;
  color: red;
  font-weight: bold;
  text-align: center;
  border: solid 1px lightgray;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.disabled {
  color: lightgray;
  border: solid 1px lightgray;
  pointer-events: none;
}

.message {
  width: 240px;
  margin: 5px;
  padding: 10px;
  height: 24px;
  text-align: center;
}
